@inject UsersServices usersServicies

<tr @onclick="() => RowClick.InvokeAsync(user)" class=@GetRowClass()>
    <td class="p-2 border border-gray-300">@user.Name</td>
    <td class="p-2 border border-gray-300">@user.UserName</td>
    <td class="p-2 border border-gray-300">@user.IsAdmin.ToString()</td>
</tr>

@code {
    [Parameter]
    public User user { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public EventCallback<User> RowClick { get; set; }


    private string GetRowClass()
    {
        if (IsSelected)
        {
            return "bg-fw-blue-hover text-white cursor-pointer";
        }

        else
        {
            return "hover:bg-blue-300 cursor-pointer";
        }
    }
}
